@model CodingEvents.ViewModels.AddEventViewModel
<h1>Add Event</h1>

<form asp-controller='Events' asp-action='NewEvent' method="post">
    <div class="form-group">
        <label asp-for="Name" for="name">Name:</label>
        <input asp-for="Name" class="form-control" id="name" name="name" type="text" placeholder="Event Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" for="description">  Description:</label>
        <input asp-for="Description" class="form-control" id="description" name="description" type="text" placeholder="Event Description" />
        <span asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="ContactEmail" for="contactemail">Contact Email</label>
        <input asp-for="ContactEmail" class="form-control" id="contactemail" name="contactemail" type="email" placeholder="Contact Email Address" />
        <span asp-validation-for="ContactEmail"></span>
    </div>
    <div class="form-group">
        <label asp-for="Location" for="location">Location</label>
        <input asp-for="Location" class="form-control" id="location" name="location" type="text" placeholder="Location" />
        <span asp-validation-for="Location"></span>
    </div>
    <div class="form-group">
        <label asp-for="NumberAttendees" for="numberattendees">Number of Attendees</label>
        <input asp-for="NumberAttendees" class="form-control" id="numberattendees" name="numberattendees" type="number" min="0" max="100000" placeholder="Number of Attendees" />
        <span asp-validation-for="NumberAttendees"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId">Event Type</label>
        <select asp-for="CategoryId" asp-items="Model.Categories"></select>
    </div>
    <div class="form-group">
        <label asp-for="MustRegister" for="mustregister">
            Must Register
            <input asp-for="MustRegister" class="form-control" id="mustregister" name="mustregister" type="checkbox" />
        </label>
        <span asp-validation-for="MustRegister"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Add Event" />
    </div>
</form>