<h1>Add Event</h1>

<form method="post">
    <label for="name">Name:</label><input id="name" name="name" type="text" placeholder="Event Name" />
    <label for="description">  Description:</label><input id="description" name="description" type="text" placeholder="Event Description" />
    <input type="submit" value="Add Event" />
</form>