<link rel="stylesheet" type="text/css" href="~/css/events.css" />

<h1>Coding Events</h1>

<p>
    <a asp-controller="Events" asp-action="Add">Add Event</a>
</p>

@if (ViewBag.events.Count < 1)
{
    <p>No Events Yet</p>
}
else
{
    <table id="events">
        <tr>
            <th>Event:</th>
            <th>Description:</th>
        </tr>
        @foreach (var meeting in ViewBag.events)
        {
            <tr>
                <td>@meeting.Name</td>
                <td>@meeting.Description</td>
            </tr>
        }
    </table>
}
        

